@font-face{
    font-family: Raleway-Regular;
    src: url("../fonts/Raleway/Raleway-Regular.ttf")
}

@font-face{
    font-family: Raleway-SemiBold;
    src: url("../fonts/Raleway/Raleway-SemiBold.ttf")
}

@font-face{
    font-family: Raleway-Bold;
    src: url("../fonts/Raleway/Raleway-Bold.ttf")
}

@font-face{
    font-family: Montserrat-Regular;
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf")
}

@font-face{
    font-family: Montserrat-Bold;
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf")
}

@font-face{
    font-family: PlayfairDisplay-Italic;
    src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic.ttf")
}

@font-face{
    font-family: RobotoCondensed-Bold;
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf")
}

p{
    margin-bottom: 0;
}

*,*:after,*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
}

h1, h2, h3, h4{
    margin: 0;
}

.card {
    border: none;
}

/*container*/
/*1170*/

/*intro*/
/*1170*/
.intro{ 
    padding-top: 189px;
    width: 100%;
    margin-bottom: 177px;
    background: url(../images/intro.jpg) top
    no-repeat;  
}

.intro_inner{
    width: 100%;
    max-width: 1188px;
    height: 836px;
    margin: 0 auto;
}

.intro_toptext{
    font-family: 'PlayfairDisplay-Italic', serif;
    max-width: 760px;
}

.intro_title{
    font-weight: normal;
    width: 700;
    font-size: 50px;
    color: black;
}

.subtitle{
    text-shadow: 0px 3px 15px rgba(0, 0, 0, 0.64);
    font-weight: 100;
    width: 330;
    font-size: 24px;
    color: white;
}


/*Surf*/

.intro_block{
    position: relative;
    height: 596px;
    width: 1028px;
    box-shadow: 0 0 20px .1px black;
    background: url(../images/IntroBlock_corner.png) no-repeat, white;
}

.introblock_boards{
    margin-left: 30px;
    margin-top: 45px;
    width: 413px;
    height: 528px;
    background: url(../images/Board.png) no-repeat;
}

.introblock_kinds{
    margin-left: 22px;
    
}

.kind2, .kind3, .kind4{
    margin: 1.5px 0;
    height: 70px;
    width: 70px;
    border: 1px solid #cccccc;
}

.kind1{
    margin: 1.5px 0;
    height: 70px;
    width: 70px;
    border: 3px solid #00b0ff;
    background: url(../images/Kind1.png) no-repeat;
}

.kind2{
    background: url(../images/Kind2.png) no-repeat;
}

.kind3{
    background: url(../images/Kind3.png) no-repeat;
}

.kind4{
    background: url(../images/Kind4.png) no-repeat;
}

.introblock_information{
    margin: auto auto auto 42px;
    width: 398px;
    height: 100%;
}
.nameboard{
    padding-top: 36px;
    font-family: 'Montserrat-Bold', sans-serif;
    color: black;
    font-size: 20px;
    width: 340px;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
}

.rating{
    width: 140px;
    margin: 3px 0 0 0;
    padding: 0;
    font-size: 0;
}

.rate {
    width: 90px;
    padding: 0;
    font-size: 0;
}
.rate:hover .star {
    color: #f2d800;
    text-shadow:
        0 1px #f2d800,
        0 -1px #f2d800,
        1px 0 #f2d800,
        -1px 0 #f2d800;
}
.rate .star {
    margin: 0;
    padding: .15em;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    text-shadow:
        0 1px #939393,
        0 -1px #939393,
        1px 0 #939393,
        -1px 0 #939393;
}
.rate .star:before {
    content: '\2605';
}
.rate .star:hover ~ .star {
    color: #fff;
    text-shadow:
        0 1px #939393,
        0 -1px #939393,
        1px 0 #939393,
        -1px 0 #939393;
}
.rating_amount{
    margin: 6px 0 0 5px;
    width: 23px;
    height: 12px;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 12px;
    color: #787878;
}

.desc_change{
    margin-top: 35px;
}

.desc1{
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 14px;
    letter-spacing: 0.7px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.desc{
    margin-left: 28px;
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 14px;
    letter-spacing: 0.7px;
    text-align: left;
    color: #a0a0a0;
    text-transform: uppercase;
}

.items_line{
    margin-top: 5px;
    width: 100%;
    height: 3px;
    
}
.active_item{
    width: 98px;
    height: 3px;
    background-color: #00b0ff;
}

.fade_down{
    width: 300px;
    height: 1px;
    background-color: #cccccc;
}

.desc_text{
    margin-top: 22px;
    width: 100%;
    font-family: 'Raleway-Regular', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #787878;
}

.buy{
    margin-top: 33px;
    width: 100%;
}

.buy_text{
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 24px;
    margin-bottom: 0;
    color: #000000;
}

.buy_but{
    margin-left: 29px;
    cursor: pointer;
    text-transform: uppercase;
    width: 137px;
    height: 44px;
    border: none;
    outline: none;
    user-select: none;
    background-color: #00b0ff;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 14px;
    letter-spacing: 1.4px;
    color: white;
    transition-duration: 0.4s;
}

.buy_but:hover{
    background-color: #0099ff;
}

.intro .intro_inner .introblock_information > button{
    margin-top: 82px;
    width: 121px;
    height: 22px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: #00b0ff;
    border: none;
    display: inline-block;
    outline: none;
    text-decoration: none;
    user-select: none;
    background-color: white;
    cursor: pointer;
}

.intro .intro_inner .introblock_information > button:hover{
    border-bottom: solid 2px #00b0ff;
}

.introblock_text{
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer (не поддерживается) */
    -o-user-select: none; /* Opera Presto (не поддерживается) */
    -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
    left: 620px;
    top: 258px;
    position: absolute;
    text-transform: uppercase;
    opacity: .03;
    height: 81px;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 127px;
    letter-spacing: 6.1px;
    color: black;
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);    
    transform:rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.slide_buts{
    position: absolute;
    top: 46px;
    left: auto;
    right: -36px;
    width: 72px;
    height: 38px;
    background-color: #f2d800;
}
.slide_buts button{
    cursor: pointer;
    border: none;
    width: 36px;
    height: 38px;
    background-color: #f2d800;
    font-size: 18px;
    color: #f7f7f7;
    transition-duration: 0.4s;
}

.slide_buts button:hover{
    background-color: #d9c200;
}

.slide_but1{
    outline: none;
}

.slide_but2{
    outline: none;
}

.pages{
    padding-top: 11px;
    text-align: center;
    position: absolute;
    top: 84px;
    left: auto;
    right: 0;
    width: 56px;
    height: 38px;
    background-color: #000000;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -0.6px;
    color: white;
}

/*HEADER*/
header{
    padding: 25px;
    margin: 0 auto;
    width: 1188px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_logo{
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: black;
}

/*nav*/
.nav{
    padding-right: 80px;
}
.nav_link{
    padding: 6px 8px;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin: 1px;
    color: black;
    text-decoration: none;
}

.nav_link:hover{
    background-color: #00b0ff;
    color: white;
    text-decoration: none;
}

/*header_icons*/
.header_icons{
    cursor: pointer;
}

.header_icons div {
    margin: 5px;
    width: 36px;
    height: 36px;
}

#icon_facebook{
    background: url(../images/facebook.png) no-repeat;
}
#icon_instagram{
    background: url(../images/Instagram.png) no-repeat;
}
#icon_mail{
    background: url(../images/Mail.png) no-repeat;
}

/*content*/
/*about-us*/
.About-us{
    position: relative;
    width: 100%;
    height: 980px;
    margin-bottom: 176px;
}
.About-us_text{
    width: 1162px;
    height: 143px;
    margin: 0 auto;
    background: url(../images/AboutUsText.jpg) no-repeat white;
}

.About-us_backblock{
    position: absolute;
    top: 120px;
    width: 100%;
    height: 640px;
    background-color: black;
    background: url(../images/AboutUs.jpg) no-repeat white;
    box-shadow:0 0 0 360px rgba(0, 0, 0, .2) inset;
}

.About_us_whiteblock{
    position: absolute;
    top: 416px;
    width: 945px;
    height: 564px;
    background-color: white;
}

.About-us .block{
    position: relative;
    top: 273px;
    height: 564px;
    width: 1170px;
    margin: 0 auto;
}

.About_us_textblock{
    position: relative;
    margin-left: 94px;
    width: 369px;
    height: 564px;
}

.about_toptext{
    padding-top: 95px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 2.5px;
    color: black;
    text-transform: uppercase;
    
}
.about_x{
    color: black;
    font-size: 30px;
    text-transform: uppercase;
}

.about_text{
    margin-top: 22px;
    width: 341px;
    font-family: 'PlayfairDisplay-Italic', serif;
    font-size: 22px;
    line-height: 1.73;
    text-align: left;
    color: #000000;
}

.About-us .block .About_us_textblock > button{
    align-self: flex-start;
    margin: 22px 0 0 12px;
    width: 90px;
    height: 23px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 16px;
    font-weight: 900;
    text-align: left;
    color: #00b0ff;
    border: none;
    display: inline-block;
    outline: none;
    text-decoration: none;
    user-select: none;
    background-color: white;
    cursor: pointer;
}

.About-us .block .About_us_textblock > button:hover{
    border-bottom: solid 2px #00b0ff;
}

.about_video{
    margin: 264px 22px 0 0;
    width: 500px;
    height: 300px;
    box-shadow: 20px 34.6px 50px 0 rgba(0, 0, 0, 0.2);
    background-image: url(../images/Video.jpg);
    cursor: pointer;
}

.about_video:hover .video_but{
    transition: .7s;
    opacity: 1;
}
.about_video:hover .about_circle{
    transition: .7s;
    opacity: .7;
}

.about_circle {
    margin: 80px auto;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    opacity: .3;
    border: solid 1px white;
  }

.video_but{
    position: absolute;
    margin: 105px 205px;
    display: inline-block;
    outline: none;
    text-decoration: none;
    user-select: none;
    opacity: 0.6;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    color: white;
    font-size: 32px;
    border: solid 5px white;
    background: none;
}


/*Our-team*/
.Our-team{
    position: relative;
    height: 408px;
    margin-bottom: 177px;
}

.team_text{
    width: 1159px;
    height: 138px;
    margin: 0 auto;
    background: url(../images/OurTeamText.jpg) no-repeat white;
}

.team_blocks{
    position: absolute;
    top: 100px;
    width: 100%;
    height: 308px;
}

.team_block1, .team_block2, .team_block3,
.team_block4{
    width: 260px;
    height: 278px;
    border-radius: 4px;
    box-shadow: 10px 17.3px 50px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    cursor: pointer;
}

.Our-team .team_blocks > div:hover{
    background-color: #00b0ff;
}

.Our-team .team_blocks > div:hover .name{
    color: white;
}

.Our-team .team_blocks > div:hover .mail,
.Our-team .team_blocks > div:hover .location > p
{
    color: #b3e7ff;
}

.Our-team .team_blocks > div:hover .location > div{
    background-image: url(../images/PinSelected.png);
}

.Our-team .team_blocks > div:hover .line{
    background-image: url(../images/LineSelected.png)
}

.team_block1{
    left: 30px;
    position: relative;
}

.team_block2{
    top: 30px;
    right: 250px;
    position: relative;  
}
.team_block3{
    left: 250px;
    position: relative; 
}
.team_block4{
    right: 30px;
    top: 30px;
    position: relative;
}

.button_left, .button_right{
    position: relative;
    top: 129px;
    bottom: 129px;
    width: 51px;
    height: 50px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.16);
    user-select: none;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    font-size: 18px;
    color:#0022ff;
}

.button_left:hover, .button_right:hover{
    background-color: #cccccc;
}

.block1_picture, .block2_picture,
.block3_picture, .block4_picture{
    width: 100px;
    height: 100px;
    margin: 30px 0 0 0;
    border-radius: 50%;
    border: solid 2px white;
}

.img-team {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: 30px;
}

.name{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00b0ff;
}

.mail{
    font-family: 'Raleway-Regular', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8c8c8c;
}

.line{
    width: 31px;
    height: 6px;
    color: #646464;
    background-image: url(../images/Line.png)
}

.Our-team .team_blocks .location{
    margin-bottom: 45px;
}

.Our-team .team_blocks .location > div{
    width: 10px;
    height: 13px;
    background-image: url(../images/Pin.png);
    margin-right: 5px;
}

.Our-team .team_blocks .location > p{
    font-family: 'Raleway-Regular', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #8c8c8c;
}

/*Updates*/
.Topper .text{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 2.5px;
    color: black;
    text-transform: uppercase;
}

.Topper .x{
    color: black;
    font-size: 30px;
    text-transform: uppercase;
}

.blocks{
    height: 344px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.blocks > div{
    width: 270px;
    height: 344px;
    background-color: white;
    cursor: pointer;
    margin-right: 27px;
}

.blocks .Photo{
    width: 270px;
    height: 203px;
}

.blocks p{
    margin: 13px auto;
    width: 216px;
    height: 88px;
    font-family: 'Raleway-Regular', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    text-align: left;
    color: #787878;
}

.blocks > div:hover{
    box-shadow: 0px 2px 30px 0 rgba(0, 0, 0, 0.2);
}

.blocks > div:hover p{
    color: #0022ff;
}

.posts_btn{
    width: 197px;
    height: 44px;
    border: none;
    outline: none;
    user-select: none;
    background-color: #00b0ff;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 14px;
    letter-spacing: 1.4px;
    color: white;
    transition-duration: 0.4s;
}

button:hover{
    background-color: #0099ff;
}

/*footer*/
footer{
    position: relative;
    height: 1035px;
    width: 100%;
    background-color: white;
}

footer .back{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 420px;
    background-color: black;
}

footer > .Block{
    position: relative;
    top: 90px;
    margin: 0 auto;
    width: 1188px;
    height: 941px;
}

footer .Block > .Instagram{
    position: absolute;
    width: 620px;
    height: 746px;
    background: url(../images/InstagramText.jpg) no-repeat white;
}

footer .Block .Instagram .Block_photo{
    padding-top: 56px;
    width: 620px;
    height: 676px;
}

footer .Block .Instagram .Block_photo > div{
    width: 310px;
    height: 310px;
}

footer .Block .Instagram .Bar{
    width: 300px;
    height: 70px;
    background-color: white;
}

footer .Block .Instagram .Bar > .Icon{
    width: 30px;
    height: 30px;
    background: url(../images/Instagram2.png) no-repeat white;
}

footer .Block .Instagram .Bar .Text{
    font-family: "RobotoCondensed-Bold", sans-serif;
    font-size: 24px;
    font-stretch: condensed;
    text-transform: uppercase;
    color: #00b0ff;
}

footer .Block .Instagram .Bar .Mail{
    font-family: "Raleway-Regular", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

footer .Block > .Facebook{
    position: absolute;
    top: 114px;
    right: 78px;
    width: 440px;
    height: 348px;
    background: url(../images/FacebookBack.jpg) no-repeat white;
}

footer .Block .Facebook > .Block{
    margin: 94px auto auto auto;
    width: 339px;
    height: 214px;
    background-color: #f6f7f9;
}

footer .Block .Facebook .Block .Container_photo{
    position: relative;
    width: 340px;
    height: 130px;
    background: url(../images/FacebookPhoto.jpg) no-repeat white;
}

footer .Block .Facebook .Block .Container_photo .Srfrs_photo{
    position: absolute;
    left: 8px;
    top: 8px;
    width: 54px;
    height: 54px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.38);
    border: solid 2px white;
    background-color: #00b0ff;
}

footer .Block .Facebook .Block .Container_photo .Srfrs_photo > p{
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: white;
    user-select: none;
}

footer .Block .Facebook .Block .Container_photo .Srfrs{
    position: absolute;
    left: 68px;
    top: 11px;
    text-shadow: 1px 1.7px 6px rgba(0, 0, 0, 0.62);
    font-family: Helvetica;
    font-size: 18px;
    color: white;
}

footer .Block .Facebook .Block .Container_photo .Likes{
    position: absolute;
    left: 68px;
    top: 31px;
    text-shadow: 1px 1.7px 6px rgba(0, 0, 0, 0.62);
    font-family: Helvetica;
    font-size: 12px;
    letter-spacing: 0.2px;
    color: white;
}

footer .Block .Facebook .Block .Container_photo > button{
    position: absolute;
    bottom: 9px;
    height: 22px;
    border: none;
    outline: none;
    user-select: none;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.45);
    background-color: #f6f7f9;
    cursor: pointer;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #4b4f56;
}

footer .Block .Facebook .Block .Container_photo .But1{
    left: 9px;
    width: 92px;
}

footer .Block .Facebook .Block .Container_photo .But2{
    right: 9px;
    width: 66px;
}

footer .Block .Facebook .Block .Container_photo .But1 .Icon{
    width: 12px;
    height: 12px;
    background: url(../images/Facebook2.jpg) no-repeat #f6f7f9;
}

footer .Block .Facebook .Block .Container_photo .But2 .Icon{
    width: 11px;
    height: 11px;
    background: url(../images/Share.jpg) no-repeat #f6f7f9;
}

footer .Block .Facebook .Block .Container_photo > button:hover{
    color: #00b0ff;
}

footer .Block .Facebook .Block .People{
    width: 340px;
    height: 85px;
    border: solid 1px #e9ebee;
    background-color: #f6f7f9;
}

footer .Block .Facebook .Block .People .Block{
    width: 322px;
    height: 67px;
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.13);
    background-color: white;
    
}

footer .Block .Facebook .Block .People .Block > p{
    margin-left: 8px;
    font-family: Helvetica;
    font-size: 12px;
    color: #4b4f56;
}

footer .Block .Facebook .Block .People .Block .Photos{
    margin-left: 8px;
    width: 302px;
    height: 32px;
    background-color: white;
}

footer .Block .Facebook .Block .People .Block .Photos > div{
    width: 32px;
    height: 32px;
}

footer .Block .Facebook .Block .People .Block .Photos .Photo1{
    background: url(../images/FbPeople1.jpg) no-repeat white;
}

footer .Block .Facebook .Block .People .Block .Photos .Photo2{
    background: url(../images/FbPeople2.jpg) no-repeat white;
}

footer .Block .Facebook .Block .People .Block .Photos .Photo3{
    background: url(../images/FbPeople3.jpg) no-repeat white;
}

footer .Block .Facebook .Block .People .Block .Photos .Photo4{
    background: url(../images/FbPeople4.jpg) no-repeat white;
}

footer .Block .Facebook .Block .People .Block .Photos .Photo5{
    background: url(../images/FbPeople5.jpg) no-repeat white;
}

footer .Block .Facebook .Block .People .Block .Photos .Photo6{
    background: url(../images/FbPeople6.jpg) no-repeat white;
}

footer .Block .Facebook .Block .People .Block .Photos .Photo7{
    background: url(../images/FbPeople7.jpg) no-repeat white;
}

footer .Block .Facebook .Block .People .Block .Photos .Photo8{
    background: url(../images/FbPeople8.jpg) no-repeat white;
}

footer .Block .Facebook .Block .People .Block .Photos .Photo9{
    background: url(../images/FbPeople9.jpg) no-repeat white;
}

footer .Block .Links{
    position: absolute;
    bottom: 254px;
    right: 200px;
    width: 318px;
    height: 124px;
}

footer .Block .Links > div{
    width: 150px;
    height: 124px;
}

footer .Block .Links div{
    display: flex;
    align-items: center;
    width: 100%
}

footer .Block .Links > .Block1 > div > div{
    width: 19px;
    height: 6px;
    background: url(../images/WaveYellow.png) no-repeat;
}

footer .Block .Links > .Block1 > div > p{
    margin-left: 6px;
    font-family: "Raleway-Regular", sans-serif;
    font-size: 14px;
    color: white;
    user-select: none;
}

footer .Block .Links > .Block2 > div > div{
    width: 19px;
    height: 6px;
    background: url(../images/WaveYellow.png) no-repeat;
}

footer .Block .Links > .Block2 > div > p{
    margin-left: 6px;
    font-family: "Raleway-Regular", sans-serif;
    font-size: 14px;
    color: white;
    user-select: none;
}

footer .Block .Links > .Block1 > div{
    cursor: pointer;
}

footer .Block .Links > .Block2 > div{
    cursor: pointer;
}

footer .Block .Links > .Block1 > div:hover > p{
    color: #fcd900;
}

footer .Block .Links > .Block2 > div:hover > p{
    color: #fcd900;
}

footer .Info{
    position: absolute;
    left: 0;
    bottom: 154px;
    width: 248px;
    height: 14px;
}

footer .Info > p{
    font-family: "Raleway-SemiBold", sans-serif;
    font-size: 12px;
    color: #4d4d4d;
}

footer .Info > div{
    width: 5px;
    height: 5px;
    background-color: #4d4d4d;
    border-radius: 50%;
}

footer .Subscribe{
    position: absolute;
    bottom: 70px;
    right: 218px;
    width: 300px;
    height: 57px;
}

footer .Subscribe > p{
    font-family: "Montserrat-Regular";
    line-height: 14px;
    font-size: 16px;
    color: white;
}

footer .Subscribe .Enter .Icon{
    width: 16px;
    height: 11px;
    background: url(../images/SubMail.png) no-repeat;
}

footer .Subscribe .Enter .lol{
    position: absolute;
    bottom: 9px;
    left: 26px;
    font-family: "Raleway-SemiBold", sans-serif;
    font-size: 14px;
    user-select: none;
    color: #4d4d4d;
}

footer .Subscribe .Enter > input{
    width: 242px;
    font-family: "Raleway-SemiBold", sans-serif;
    font-size: 14px;
    background-color: black;
    border: none;
    outline: none;
    color: #4d4d4d;
}

footer .Subscribe .Enter > button{
    width: 22px;
    height: 22px;
    background-color: #00b0ff;
    font-size: 15px;
    color: white;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
}

footer .Subscribe .Enter > button:hover{
    background-color: #0099ff;
}

footer .Subscribe .UnderLine{
    margin-top: 5px;
    width: 300px;
    height: 1px;
    background-color: #4d4d4d;
}